<ng-container class="container" cdkDropListGroup>
    <div class="translate">
        <div (click)="this.translate.use('en')">
            <img class="img-size" src="../../../assets/img/usa.png">
        </div>
        <div (click)="this.translate.use('pt')">
            <img class="img-size" src="../../../assets/img/br.png">
        </div>
    </div>

    <div class="drag-drop-container">
        <!-- subscribes inside the template, so we dont have to worry about memory leaks -->
        <div class="card-container" *ngIf="toDo$ | async as todo">
            <div class="title">
                <p>{{'todo'| translate}}</p>
                <mat-icon>list</mat-icon>
            </div>

            <div cdkDropList [cdkDropListData]="todo" class="drag-drop-list todo"
                (cdkDropListDropped)="dropMultiList($event)">
                
                <div [id]="item.id" class="drag-drop-item" *ngFor="let item of todo" cdkDrag>

                    <div class="drop-placeholder" *cdkDragPlaceholder>
                        <!-- creates a draggable place inside the layout -->
                    </div>
                    <!-- isolates the card so we can share the layout -->
                    <app-card class="app-card"
                    [titulo]="item.titulo" [conteudo]="item.conteudo"
                    (edit)="this.editCard(item)"
                    (delete)="this.deleteCard(item.id)"
                    ></app-card>
                </div>

            </div>
        </div>

        <div class="card-container" *ngIf="doing$ | async as doing">

            <div class="title">
                <p>{{'doing'|translate}}</p>
                <mat-icon>clear_all</mat-icon>
            </div>
            <div cdkDropList [cdkDropListData]="doing" class="drag-drop-list doing"
                (cdkDropListDropped)="dropMultiList($event)">

                <div [id]="item.id" class="drag-drop-item" *ngFor="let item of doing" cdkDrag>

                    <div class="drop-placeholder" *cdkDragPlaceholder></div>
                    <app-card class="app-card"
                    [titulo]="item.titulo" [conteudo]="item.conteudo"
                    (edit)="this.editCard(item)"
                    (delete)="this.deleteCard(item.id)"
                    ></app-card>
                </div>

            </div>
        </div>

        <div class="card-container" *ngIf="done$ | async as done">

            <div class="title">
                <p>{{'done'|translate}}</p>
                <mat-icon>done</mat-icon>
            </div>
            <div cdkDropList [cdkDropListData]="done" class=" drag-drop-list done"
                (cdkDropListDropped)="dropMultiList($event)">

                <div [id]="item.id" class="drag-drop-item" *ngFor="let item of done" cdkDrag>

                    <div class="drop-placeholder" *cdkDragPlaceholder></div>
                    <app-card class="app-card"
                    [titulo]="item.titulo" [conteudo]="item.conteudo"
                    (edit)="this.editCard(item)"
                    (delete)="this.deleteCard(item.id)"
                    ></app-card>
                </div>

            </div>
        </div>
    </div>

    <button (click)="addCard()" class="add-card" mat-fab color="primary"
        aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>
    </button>

</ng-container>