.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}