<div [formGroup]="form">
    <div class="flex-container">
        <div>
            <h1>{{modo}}</h1>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{'title'|translate}}</mat-label>
                <input matInput formControlName="titulo" type="text">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="fill">
                <mat-label>{{'content'|translate}}</mat-label>
                <textarea matInput formControlName="conteudo" type="text"></textarea>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select formControlName="lista">
                    <mat-option value="ToDo" >{{'todo'|translate}}</mat-option>
                    <mat-option value="Doing">{{'doing'|translate}}</mat-option>
                    <mat-option value="Done">{{'done'|translate}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="flex-button">
            <div>
                <button (click)="close()" color="warn" mat-raised-button>{{'cancel'|translate}}</button>
            </div>
            <div>
                <button (click)="this.save()" [disabled]="form.invalid" color="primary" mat-raised-button>{{'save'|translate}}</button>
            </div>
        </div>
    </div>
</div>